go 1.19

use (
	.
	./dbfixture
	./dialect/mssqldialect
	./dialect/mysqldialect
	./dialect/pgdialect
	./dialect/sqlitedialect
	./driver/pgdriver
	./driver/sqliteshim
	./example/basic
	./example/create-table-index
	./example/cursor-pagination
	./example/custom-type
	./example/fixture
	./example/get-where-fields
	./example/migrate
	./example/model-hooks
	./example/multi-tenant
	./example/opentelemetry
	./example/pg-faceted-search
	./example/pg-listen
	./example/placeholders
	./example/rel-belongs-to
	./example/rel-has-many
	./example/rel-has-many-polymorphic
	./example/rel-has-one
	./example/rel-join-condition
	./example/rel-many-to-many
	./example/rel-many-to-many-self
	./example/string-representation
	./example/trivial
	./example/tx-composition
	./extra/bunbig
	./extra/bundebug
	./extra/bunotel
	./extra/bunrelic
	./internal/dbtest
)
